{% set Acceptation %}
    {{ form_row(registrationForm.agreeTerms) }}
{% endset %}

{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Enregistrement</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.telephone) }}
        {{ form_row(registrationForm.password.first) }}
        {{ form_row(registrationForm.password.second) }}

        {{ Acceptation|replace({'#DOCUMENTATION#':'<a class="has-text-underline js-modal_rgpd" href="' ~ absolute_url(path('app_rgpd')) ~ '">documentation RGPD</a>'})|raw }}

        <button type="submit" class="btn btn-primary">S'enregistrer</button>
    {{ form_end(registrationForm) }}

    <div id="myModal"></div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modal_rgpd') }}
{% endblock %}
