{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}

        <div class="d-flex justify-content-around">
            <h1>Editer le Produit</h1>

        </div>

    {{ form_row(form.nom) }}
    {{ form_row(form.marque) }}
    {{ form_row(form.categorie) }}
    {{ form_row(form.contenu) }}
    {{ form_row(form.images) }}

    <div id="file-upload-filename"></div>

    <br>

    {{ form_row(form.publier) }}

    {{ form_end(form) }}

    <a class="btn btn-primary" href="{{ path('produits') }}">Retour à la liste</a>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
        <script>
            let input = document.getElementById( 'produit_form_images' );
            let output = document.getElementById( 'file-upload-filename' );
            let fileList = [];

            input.addEventListener( 'change', showFileName );

            function showFileName( event ) {

                // the change event gives us the input it occurred in
                let input = event.target;

                // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
                for (let i = 0; i < input.files.length; ++i) {
                    fileList.push(input.files.item(i).name);
                }
                for (let i = 0; i < fileList.length; ++i) {
                    output.innerHTML +=  fileList[i];
                }

                let delete_input = function (e) {
                    console.log(e);
                    console.log(fileList);
                }


                document.querySelectorAll('.js-delete').forEach(
                    function (link) {
                        link.addEventListener('click', delete_input);
                    })
            }
        </script>
{% endblock %}
