{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>
                    <form method="post" action="{{ path('utilisateur_delete', {'id': utilisateur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
                        <button class="btn btn-primary">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('utilisateur_new') }}">Créer un utilisateur</a>
{% endblock %}
